.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E5E5E5;

  &__link {
    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: inherit;
    }
  }

  &__cart {
    align-self: center;
    font-size: 1.3rem;
    padding-right: 10px;
  }

  &__cart-icon {
    font-size: 2.2rem;
    color: cadetblue;
    margin-right: 10px;
  }

  &__logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
  }
}
